services:
  db:
    image: postgres:16.6-bullseye
    container_name: strade-db
    restart: unless-stopped
    env_file:
      - ../.env
    volumes:
      - db-data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${POSTGRES_USER:-postgres}"]
      interval: 10s
      timeout: 5s
      retries: 5
    networks:
      - backend

  api:
    build:
      context: ..
      dockerfile: docker/Dockerfile.api
    container_name: strade-api
    restart: unless-stopped
    environment:
      - ENVIRONMENT=PRODUCTION
    env_file:
      - ../.env
    ports:
      - "8080:8080"
    depends_on:
      db:
        condition: service_healthy
      redis:
        condition: service_healthy
    networks:
      - backend

  watcher:
    build:
      context: ..
      dockerfile: docker/Dockerfile.watcher
    container_name: strade-watcher
    restart: unless-stopped
    environment:
      - ENVIRONMENT=PRODUCTION
    env_file:
      - ../.env
    ports:
      - "8081:8081"
    depends_on:
      db:
        condition: service_healthy
      redis:
        condition: service_healthy
    networks:
      - backend

  redis:
    image: redis:7.4.1-alpine
    container_name: strade-redis
    restart: unless-stopped
    env_file:
      - ../.env
    command: sh -c "redis-server --save 60 1 --loglevel warning --requirepass $$REDIS_PASSWORD"
    healthcheck:
      test: ["CMD", "sh", "-c", "redis-cli --no-auth-warning -a $$REDIS_PASSWORD ping"]
      interval: 10s
      timeout: 5s
      retries: 5
    networks:
      - backend

volumes:
  db-data:

networks:
  backend:
    driver: bridge
